/* Add your own CSS rules here */
#description {
  margin: 0 0 1em 0;
}

tei-teiHeader {
  display: none;
}
tei-num {color:red; font-style: oblique;}
tei-persName {color:green; font-style:italic;}
tei-orgName {color:blue; font-style:italic;;}
tei-placeName {color:purple; font-style:italic;}
tei-quote {color:orange; font-style:oblique;}
